  <div class="elits-members container-fluid overflow-hidden" id="elits-members">
    <div class="container">
        <div class="header">
            <h1 class="text-center reveal">Meet the ELIT Officers</h1>
            <!-- <img src="images/elits-banner.png" class="img-fluid sticky-bg"> -->
        </div>
        <div class="row mt-5 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-president.jpg" class="img-fluid reveal"></a>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start">
              <h1 class="text-center reveal-left">President</h1>
            </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <h1 class="text-center reveal-right">VP Internal</h1>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start">
                <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-vice-president.jpg" class="img-fluid reveal"></a>
            </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
                <a hdata-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-vp-external.jpg" class="img-fluid reveal"></a>
            </div>
            <div class="col-lg-6 d-flex justify-content-start">
              <h1 class="text-center reveal-left">VP External</h1>
            </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <h1 class="text-center reveal-right">Secretary</h1>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start">
                <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-secretary.jpg" class="img-fluid reveal"></a>
            </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
          <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-assistant-secretary.jpg" class="img-fluid reveal"></a>
          </div>
          <div class="col-lg-6 d-flex justify-content-start">
            <h1 class="text-center reveal-left">Asst. Secretary</h1>
          </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <h1 class="text-center reveal-right">Treasurer</h1>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start">
                <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-treasurer.jpg" class="img-fluid reveal"></a>
            </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
          <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-auditor.jpg" class="img-fluid reveal"></a>
          </div>
          <div class="col-lg-6 d-flex justify-content-start">
            <h1 class="text-center reveal-left">Auditor</h1>
          </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <h1 class="text-center reveal-right">Business Manager</h1>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start">
                <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-business-manager.jpg" class="img-fluid reveal"></a>
            </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
          <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-public-relations-officer.jpg" class="img-fluid reveal"></a>
          </div>
          <div class="col-lg-6 d-flex justify-content-start">
            <h1 class="text-center reveal-left">Public Relations Officer</h1>
          </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <h1 class="text-center reveal-right">GAD Representative</h1>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start">
                <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-gad-representative.jpg" class="img-fluid reveal"></a>
            </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
          <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-first-year-rep.jpg" class="img-fluid reveal"></a>
          </div>
          <div class="col-lg-6 d-flex justify-content-start">
            <h1 class="text-center reveal-left">1st Year Representative</h1>
          </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <h1 class="text-center reveal-right">2nd Year Representative</h1>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start">
                <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-2nd-year-rep.jpg" class="img-fluid reveal"></a>
            </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
          <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-3rd-year-rep.jpg" class="img-fluid reveal"></a>
          </div>
          <div class="col-lg-6 d-flex justify-content-start">
            <h1 class="text-center reveal-left">3rd Year Representative</h1>
          </div>
        </div><hr style="color: white; outline: 2px white solid;" class="d-lg-none">
        <div class="row mt-4 justify-content-center member-images">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-end">
              <h1 class="text-center reveal-right">4th Year Representative</h1>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start">
                <a data-bs-toggle="modal" data-bs-target="#officer"><img src="images/elits-4th-year-rep.jpg" class="img-fluid reveal"></a>
            </div>
        </div>

    </div>

    <div class="modal" tabindex="-1" id="officer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Name of the Officer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex justify-content-center"><img src="images/elits-2nd-year-rep.jpg" class="img-fluid" width="400px"></div><hr>
            <h1 class="text-center">Position of the Officer</h1>
            <p class="officer-bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, harum error ipsum quo vitae, inventore aut excepturi ullam eum consequatur natus nemo praesentium earum atque velit. Nihil consectetur praesentium sed?</p>
          </div>
        </div>
      </div>
    </div>

  </div>