<div class="container-fluid who-we-are-section overflow-hidden">
    <div class="container col-lg-10 col-sm-12 who-we-are-greeting text-center">
      <h1><span>ELITS</span> Overview</h1>
      <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint harum veniam nemo, repudiandae voluptas maxime ullam eum! Quaerat porro expedita, accusamus aliquam, tempora consequuntur nihil nesciunt facilis quo quam voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a href="#elits-members" class="btn btn-members rounded-pill">Meet the Officers</a>
    </div>
  </div>