{% load static %}

<div class="awards-section container-fluid pb-5 overflow-hidden" id="awards-section">
    <center>
    <div class="container">
      <h1 class="pt-5 text-center">List of ELITS Awards</h1><hr style="color: white; outline: 1px solid black;">
      <div class="row mt-4">
        <div class="col-lg-4 col-sm-12 reveal-left">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5 award-image">
                <h4 class="award-title mt-5">Award Title</h4>
                <p class="award-title mt-2">Category (optional)</p>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">Short Description</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adip elit.</p>
                  <a class="btn btn-sm award-button" data-bs-toggle="modal" data-bs-target="#award"><span>See More...</span></a>
                  <p class="card-text"><small class="text-muted">Date Received</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 reveal-left">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5 award-image">
                <h4 class="award-title mt-5">Award Title</h4>
                <p class="award-title mt-2">Category (optional)</p>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">Short Description</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adip elit.</p>
                  <a class="btn btn-sm award-button" data-bs-toggle="modal" data-bs-target="#award"><span>See More...</span></a>
                  <p class="card-text"><small class="text-muted">Date Received</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 reveal-left">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5 award-image">
                <h4 class="award-title mt-5">Award Title</h4>
                <p class="award-title mt-2">Category (optional)</p>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">Short Description</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adip elit.</p>
                  <a class="btn btn-sm award-button" data-bs-toggle="modal" data-bs-target="#award"><span>See More...</span></a>
                  <p class="card-text"><small class="text-muted">Date Received</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4 col-sm-12 reveal-right">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5 award-image">
                <h4 class="award-title mt-5">Award Title</h4>
                <p class="award-title mt-2">Category (optional)</p>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">Short Description</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adip elit.</p>
                  <a class="btn btn-sm award-button" data-bs-toggle="modal" data-bs-target="#award"><span>See More...</span></a>
                  <p class="card-text"><small class="text-muted">Date Received</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 reveal-right">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5 award-image">
                <h4 class="award-title mt-5">Award Title</h4>
                <p class="award-title mt-2">Category (optional)</p>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">Short Description</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adip elit.</p>
                  <a class="btn btn-sm award-button" data-bs-toggle="modal" data-bs-target="#award"><span>See More...</span></a>
                  <p class="card-text"><small class="text-muted">Date Received</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 reveal-right">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-5 award-image">
                <h4 class="award-title mt-5">Award Title</h4>
                <p class="award-title mt-2">Category (optional)</p>
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">Short Description</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adip elit.</p>
                  <a class="btn btn-sm award-button" data-bs-toggle="modal" data-bs-target="#award"><span>See More...</span></a>
                  <p class="card-text"><small class="text-muted">Date Received</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </center>

    <div class="modal" id="award" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Award Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card" style="width: 100%;">
              <img src="images/award-image.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><strong>More info about the award.</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero fuga fugiat molestias perspiciatis consequuntur. Quisquam repudiandae sed velit sit esse debitis? Nulla unde quia odit officia ratione iure vel atque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam vel exercitationem laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>