<div class="history-section container-fluid text-center pb-5 overflow-hidden" id="history-section">
    <div class="container pt-5">
      <h1>ELITS History</h1><hr style="color: white; outline: 1px solid white;">
      <p class="history-statement">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente laborum voluptas ipsa voluptates, quaerat delectus veniam alias perspiciatis numquam. Facere nobis maxime debitis dolores quidem odit cupiditate commodi iure numquam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam mollitia, earum culpa adipisci iusto sunt temporibus suscipit deserunt, doloremque dicta nesciunt! Odit corrupti laborum quia ipsa quo maxime quisquam.</p>
      <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Background History #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p><strong>Brief background history about ELITS.</strong> Sapiente laborum voluptas ipsa voluptates, quaerat delectus veniam alias perspiciatis numquam. Facere nobis maxime debitis dolores quidem odit cupiditate commodi iure numquam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam mollitia, earum culpa adipisci iusto sunt temporibus suscipit deserunt, doloremque dicta nesciunt! Odit corrupti laborum quia ipsa quo maxime quisquam.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Background History #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Brief background history about ELITS.</strong> Sapiente laborum voluptas ipsa voluptates, quaerat delectus veniam alias perspiciatis numquam. Facere nobis maxime debitis dolores quidem odit cupiditate commodi iure numquam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam mollitia, earum culpa adipisci iusto sunt temporibus suscipit deserunt, doloremque dicta nesciunt! Odit corrupti laborum quia ipsa quo maxime quisquam.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Background History #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Brief background history about ELITS.</strong> Sapiente laborum voluptas ipsa voluptates, quaerat delectus veniam alias perspiciatis numquam. Facere nobis maxime debitis dolores quidem odit cupiditate commodi iure numquam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae magnam mollitia, earum culpa adipisci iusto sunt temporibus suscipit deserunt, doloremque dicta nesciunt! Odit corrupti laborum quia ipsa quo maxime quisquam.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>