{% load static %}

<div class="join-section container-fluid overflow-hidden" id="join">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 text-center">
          <img src={% static "assets/images/elits-tiger.png" %} class="img-fluid tiger d-inline-block reveal-left">
        </div>
        <div class="col-lg-6 col-sm-12">
          <h1 class="mb-2 reveal-left"><span>Join the ELITE League of</span> Information Technology Society</h1>
          <p class="reveal-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae non error praesentium aut, minus, sint sit nihil odit laudantium aspernatur, impedit esse! Adipisci debitis esse culpa consequatur numquam velit similique.</p>
          <a class="btn-join btn rounded-pill mt-3">Join Now</a>
        </div>
      </div><hr>
      <div class="row open-position">
        <h1 class="reveal-right"><span>Open</span> Position</h1>
        <div class="owl-carousel owl-theme reveal-right">
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'assets/images/elits-webfest.jpg' %}" class="card-img-top img-fluid" width="300px"><hr>
                <h2>ELITS Position</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'assets/images/elits-webfest.jpg' %}" class="card-img-top img-fluid" width="300px"><hr>
                <h2>ELITS Position</h2>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card">
              <div class="card-body">
                <img src="{% static 'assets/images/elits-webfest.jpg' %}" class="card-img-top img-fluid" width="300px"><hr>
                <h2>ELITS Position</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>