{% load static %}

<div class="news-section container-fluid overflow-hidden" id="news-section">
    <div class="container">
      <h1 class="pt-5 text-center">Latest News Update</h1><hr style="color: white; outline: 1px solid black;">
      <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row d-flex justify-content-center">
                <div class="row">
                  <div class="col-lg-5 col-sm-12 d-flex justify-content-center">
                    <img src="{% static 'assets/images/elits-esport-tournament.jpg' %}" class="img-fluid banner" alt="Lanyard">
                  </div>
                  <div class="col-lg-7 col-sm-12 news-head-info">
                    <h6><strong>Education</strong> <span class="badge bg-custom">November 25, 2003</span></h6>
                    <h1>Diwata Pares Overcook</h1>
                    <p>Jack Milton, a 100-year-old WWII veteran, finally received his college diploma nearly 60 years after graduating. He was unable to attend his graduation in 1966 and has now been honored for his achievement.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-3">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>D.W. Winnicott</strong><br>
                        <span>Pediatrician</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row d-flex justify-content-center">
                <div class="row">
                  <div class="col-lg-5 col-sm-12 d-flex justify-content-center">
                    <img src="{% static 'assets/images/elits-esport-tournament.jpg' %}" class="img-fluid banner" alt="Lanyard">
                  </div>
                  <div class="col-lg-7 col-sm-12 news-head-info">
                    <h6>Sports <span class="badge bg-custom">January 25, 2003</span></h6>
                    <h1>Diwata Pares Overcook</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, eveniet. Quisquam quasi tempora aperiam vero alias maxime magni sint eveniet repellendus! Magni incidunt vel et, voluptates ab eius sit cupiditate.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-3">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>Charles Horton Cooley</strong><br>
                        <span>Sociologist</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row d-flex justify-content-center">
                <div class="row">
                  <div class="col-lg-5 col-sm-12 d-flex justify-content-center">
                    <img src="{% static 'assets/images/elits-esport-tournament.jpg' %}" class="img-fluid banner" alt="Lanyard">
                  </div>
                  <div class="col-lg-7 col-sm-12 news-head-info">
                    <h6>Social <span class="badge bg-custom">April 05, 2013</span></h6>
                    <h1>Diwata Pares Overcook</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ullam autem eligendi at repudiandae ad atque ipsum dolor enim minima obcaecati quam, veniam maxime nihil dolore pariatur voluptate accusantium exercitationem.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-3">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>Albert Bandura</strong><br>
                        <span>Pyschologist</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="carousel-indicators custom-indicators d-flex justify-content-center">
          <a type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true"></a>
          <a type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></a>
          <a type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></a>
        </div>
      </div>
      <div class="row gx-4 other-news d-flex justify-content-center reveal">
        <div class="col-lg-4 col-md-6 col-12 mb-4 news-item">
          <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid other-news-img">
          <h6>Education <span class="badge bg-custom">November 25, 2003</span></h6>
                    <a class="other-news-btn" href="news.html">Diwata Pares Overload</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nam at quam doloribus enim. Incidunt nostrum beatae enim eos provident. Animi atque odit laboriosam nisi ipsam recusandae error. Odio, quis.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-2">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>Albert Bandura</strong><br>
                        <span>Student</span>
                      </div>
                    </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 news-item news-item-core">
          <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid other-news-img">
          <h6>Education <span class="badge bg-custom">November 25, 2003</span></h6>
                    <a class="other-news-btn" href="news.html">Diwata Pares Overload</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptatum vitae optio fuga magni. Dolore, neque exercitationem? Quidem itaque, eum eveniet porro repudiandae odit temporibus, ut voluptatum, consectetur ex laboriosam.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-2">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>Albert Bandura</strong><br>
                        <span>Student</span>
                      </div>
                    </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 news-item">
          <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid other-news-img">
          <h6>Education <span class="badge bg-custom">November 25, 2003</span></h6>
                    <a class="other-news-btn" href="news.html">Diwata Pares Overload</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis mollitia laboriosam rerum, at inventore, pariatur sequi dignissimos asperiores, eaque a ab. Delectus quos iste cumque sed numquam illo assumenda doloribus.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-2">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>Albert Bandura</strong><br>
                        <span>Student</span>
                      </div>
                    </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 news-item">
          <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid other-news-img">
          <h6>Education <span class="badge bg-custom">November 25, 2003</span></h6>
                    <a class="other-news-btn" href="news.html">Diwata Pares Overload</a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro reiciendis quidem tenetur blanditiis repudiandae enim fugit accusantium, iste harum iusto at! Doloremque nobis laboriosam voluptatibus dignissimos voluptates dicta commodi in.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-2">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>Albert Bandura</strong><br>
                        <span>Student</span>
                      </div>
                    </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 news-item news-item-core">
          <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid other-news-img">
          <h6>Education <span class="badge bg-custom">November 25, 2003</span></h6>
                    <a class="other-news-btn" href="news.html">Diwata Pares Overload</a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur molestias obcaecati dolorum exercitationem blanditiis animi recusandae dicta numquam, officia, eos, laboriosam maxime voluptatibus? Vel nesciunt tenetur fugiat repudiandae quas quo.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-2">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>Albert Bandura</strong><br>
                        <span>Student</span>
                      </div>
                    </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-4 news-item">
          <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid other-news-img">
          <h6>Education <span class="badge bg-custom">November 25, 2003</span></h6>
                    <a class="other-news-btn" href="news.html">Diwata Pares Overload</a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatibus maxime exercitationem velit voluptate hic at sapiente dolores ipsa? Vitae recusandae delectus natus. Nulla ipsa quis et odit quos facilis.</p>
                    <a class="read-more-btn" href="news.html">Read More &rarr;</a>
                    <div class="author-info d-flex align-items-center mt-2">
                      <img class="rounded-circle" width="40px" src="{% static 'assets/images/MiID.jpg' %}" alt="Author Image">
                      <div class="author-name">
                        <strong>Albert Bandura</strong><br>
                        <span>Student</span>
                      </div>
                    </div>
        </div>
      </div>
      <div class="more-news">
        <a data-bs-toggle="modal" data-bs-target="#more-news">More News &#10547;</a>
      </div>

      <div class="modal" id="more-news" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">More News</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-4">
                <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3 more-events-nav">
                  <h4 class="navbar-brand text-center">Dates</h4>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#news-9-23">9/23</a>
                    <a class="nav-link" href="#news-10-23">10/23</a>
                    <a class="nav-link" href="#news-11-23">11/23</a>
                    <a class="nav-link" href="#news-12-23">12/23</a>
                    <a class="nav-link" href="#news-1-24">1/24</a>
                    <a class="nav-link" href="#news-2-24">2/24</a>
                    <a class="nav-link" href="#news-3-24">3/24</a>
                    <a class="nav-link" href="#news-4-24">4/24</a>
                    <a class="nav-link" href="#news-5-24">5/24</a>
                  </nav>
                </nav>
                </div>
                
                <div class="col-8">
                <div data-bs-spy="scroll" class="more-news-scrollspy" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                  <center>
                    <div id="news-9-23">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: August 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                    <div id="news-10-23">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: September 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                    <div id="news-11-23">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: November 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                    <div id="news-12-23">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: December 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                    <div id="news-1-24">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: January 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                    <div id="news-2-24">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: February 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                    <div id="news-3-24">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: March 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                    <div id="news-4-24">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: April 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                    <div id="news-5-24">
                      <img src="{% static 'assets/images/elits-bg.jpg' %}" class="img-fluid mt-2" width="250px">
                      <a><h4 class="mt-2 text-center">ELITS News Title</h4></a>
                      <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod earum tempore magnam sit, laboriosam nam soluta eius vero aperiam ex eligendi eum ab repellat ad consequuntur, iste necessitatibus ipsum temporibus.</p>
                      <p class="text-muted"><a><small>Read More &rarr;</small></a></p>
                      <p><small>Published: May 11, 2023</small></p>
                      <p><strong>Abert Bandura</strong> | Education</p>
                    </div><hr>
                  </center>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>